/* Colors: */
$dark: #1D4354;
$primary: #1DBF73;
$secondary: #067B44;
$grey-dark: #777777;
$grey: #BEBEBE;
$grey-light: #d5d5d5;
$danger: #FF0700;
$link-color: #72BDF5;
$light: #F1FDF7;
$body-bg : #F5F5F5;
